sleeved.fr {
  # Serve the static landing page
  root * /srv/www/landing
  file_server

  # Reverse proxy for the 'warden' microservice
	handle_path /warden/* {
		reverse_proxy localhost:8081
	}

  # Reverse proxy for the 'atlas' microservice
	handle_path /atlas/* {
		reverse_proxy localhost:8082
	}

	# Reverse proxy for the 'iris' microservice
	handle_path /iris/* {
		reverse_proxy localhost:8083
	}
}